@charset "utf-8";


/* 웹폰트 */

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}


* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #fffdf9;
}

#wrap {
  min-width: 800px;
  width: 800px;
  margin: 0 auto;
}

div img {
  width: 100%;
  display: block;
}

.title {
  text-align: center;
  padding-top: 50px;
}

.title h2 {
  font-family: 'Pretendard';
  margin-bottom: 10px;
  color: #ffaa00;
  font-size: 30px;
  font-weight: 800;
}

.title p{
  font-family: 'Pretendard';
  color: #a8a8a8;
  
}}

/* swiper */
#cardnews_wrap {
  position: relative;
  height: 600px;
}

.swiper {
  margin: 60px auto;
  width: 600px;
  height: 600px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}



.fixed {
  position: fixed;
  right: 100px;
  bottom: 100px;
}

.fixed:hover {
  opacity: 0.8;
}

.fixed2 {
  position: fixed;
  right: 100px;
  bottom: 40px;
}

.fixed2:hover {
  opacity: 0.8;
}